.landing {
  height: 100vh;
  background-size: cover;
  background-position: top;
  position: relative;
  background-image: linear-gradient(to right bottom, 
    rgba(126, 213, 111, 0.4), 
    rgba(40, 180, 133, 0.4)), 
    url(../assets/images/lookingFrog.jpg);
  padding: 5rem 3rem;
  display: grid;
  grid-template-columns: 1fr 15% 1fr;
  grid-template-rows: 15% 1fr 1fr;
}

@media only screen and (max-width: 600px) {
  .landing {
    display: flex;
    flex-direction: column;
  }
}

.accordion-box {
  grid-column-start: 1 / 3;
  grid-row-start: 2;
  margin: 2rem 3rem;
  display: flex;
  flex-direction: column;
}

.intro {
  grid-column-start: 3;
  grid-row-start: 2;
  margin: 0 6rem; 
}

.accordion {
  border-radius: 0;
  background-color: rgba(229, 252, 245, 0.8);
}

.accordion:focus {
  border: none;
  outline: 0px;
}

.accordion:hover, .accordion:focus-visible {
  background-color: rgba(18, 118, 89, 0.8);
  border: none;
  outline: 0px;
  color: rgba(229, 252, 245);
}
