.landing {
  height: 100vh;
  background-size: cover;
  background-position: top;
  position: relative;
  background-image: linear-gradient(to right bottom, 
    rgba(126, 213, 111, 0.4), 
    rgba(40, 180, 133, 0.4)), 
    url(../assets/images/lookingFrog.jpg);
  padding: 5rem 3rem;
  display: grid;
  grid-template-columns: 1fr 3rem 1fr;
  grid-template-rows: 6rem 1fr 1fr;
}

@media only screen and (min-width: 600px) {
  .landing {
    display: grid;
    grid-template-columns: 1fr 20% 1fr;
    grid-template-rows: 15% 1fr 1fr;
  }
  .memory-choose, .intro {
    grid-row-start: 2;
  }
}

.memory-choose {
  grid-column-start: 1 / 3;
}

.intro {
  grid-column-start: 3 ;
}

.memory-game-form {
  display: flex;
  flex-direction: column;
}

button, input {
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover, input:hover {
  border-color: #07673f;
}
button:focus,
button:focus-visible,
input:focus,
input:focus-visible

{
  outline: 2px solid green;
}

button {
  background-color: #f9f9f9;
}