button, input, select {
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid transparent;
  padding: 1em 2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover, input:hover {
  border-color: #07673f;
}
button:focus,
button:focus-visible,
input:focus,
input:focus-visible

{
  outline: 2px solid green;
}

button {
  background-color: #f9f9f9;
}

#root { 
  display: grid;
  grid-template-columns: 0 1fr 0;
  grid-template-rows: 1rem 1fr 1rem;
}

main {
  grid-row: 2 / 3;
  grid-column: 2 / 3; 
}


@media only screen and (min-width: 600px) {
  #root { 
    display: grid;
    grid-template-columns: 0 1fr 0;
    grid-template-rows: auto 8em 1fr auto;
  }
  
  main {
    grid-row: 2 / 4;
    grid-column: 2 / 3; 
  }
}


@media only screen and (max-width: 450px) {
  button, input, select {
    padding: 3em 5em;
  }
}
